.meta{
    margin: 10px 200px 10px 200px;
    text-align:center;
}

#meta_head{
    font-size: 26px;
}

#meta_para {
    margin: 10px 200px 10px 200px;
}


.form_holder{
    margin: 10px 200px 10px 200px;
}

#form_wrap{
    margin: 30px 200px 10px 200px;
}

.label{
    margin: 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
}

.label label{
    margin-left:130px;
}

.label input,select{
    margin-right: 130px;
    float: right;
    clear: both;
}

#submit{
    text-align: center;
    display: block;
    margin : 0 auto;
}

#prediction{
    color:#ff0000;
    text-align: center;
    display: block;
    margin : 0 auto;
}

@media screen and (max-width:1000px){
    .meta{
        margin: auto;
        width: 100%;
    }
    
    #meta_head{
        margin: auto;
        width: 100%;
    }
    
    #meta_para {
        margin: auto;
        width: 100%;
    }
    
    .form_holder{
        margin: auto;
        width: 100%;
    }

    #form_wrap{
        margin: auto;
        width: 100%;
    }
    .label{
        margin: auto;
        width: 100%;
    }
    
    .label label{
        margin: auto;
        width: 100%;
    }

    .label input,select{
        margin: 0;
    clear: both;
}
}
